.login-form {
    /* max-width: 300px; */
    padding: 15%;
    padding-top: 10%;
}

.login-form-input {
    text-align: center;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
    margin-top: 20px;
}