@media (max-width: 768px) {
  body, html {
    font-family: sans-serif;
    width: 100%;
    /* overflow: scroll; */
    background-color: rgb(255, 255, 255);
  }

  .container {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 60px rgb(201, 201, 201);
    position: absolute;
    top: 5%;
    /* bottom: 5%; */
    left: 5%;
    right: 5%;
    overflow: auto;
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  body, html {
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    /* overflow: scroll; */
    background-color: rgb(255, 255, 255);
  }
    
  .container {
    border: none;
    border-radius: 5px;
    box-shadow: 0px 1px 60px rgb(201, 201, 201);
    position: absolute;
    top: 5%;
    bottom: 5%;
    left: 5%;
    right: 5%;
    overflow: hidden;
  }
}

.ant-row {
  max-height: 100%;
}

@import "./assets/fonts/font_pacifico.css";

.banner {
  margin-top: 20%;
  font-family: 'Pacifico', cursive;
  color: rgb(37, 146, 252);
  font-size: 2.5em;
  text-align: center;
}

.divider .ant-divider-inner-text {
  color: rgb(196, 196, 196);
  font-size: 14px;
}

.classpanel {
  margin: 5%;
  padding-bottom: 10%;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 1px 60px rgb(255, 255, 255);
}

.week-indicator .ant-divider-inner-text {
  font-size: 20px;
  font-weight: bold;
}

.weekDay-indicator {
  color: rgb(189, 189, 189);
}

.ant-fullcalendar {
  font-size: 15px !important;
}